<% content_for :title, "About | iSchool" %>
<%= render 'shared/navbar' %>
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us page</h1>
        
        <p class="lead text-muted">
        It is difficult to find time for the training necessary to gain new skills and boost your productivity. With iSchool you’re able to learn at a pace that is comfortable for you. iSchool is a powerful Learning Management System implementing the latest trends in e-learning. E-Learning is learning utilizing electronic technologies to access educational curriculum outside of a traditional classroom. In most cases, it refers to a course, or program delivered completely online. We define eLearning as courses that are specifically delivered via the internet to somewhere other than the classroom where the professor is teaching. E-Learning has been proven to be a successful method of training and education is becoming a way of life for many citizens in India and across the World. iSchool Publisher is a professional team development environment for the rapid development of e-courses by their own. 
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

