<% content_for :title, "Contact us | iSchool" %>
<%= render 'shared/navbar' %>
<div class="container">
  <div class="contact3 py-5">
    <div class="row no-gutters">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-shadow">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/2.jpg" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-box ml-3">
              <h1 class="font-weight-light mt-2">Quick Contact</h1>
              <form action="https://formsubmit.co/0d4f46a60e4bdc95976f95b3a5c17eff" method="POST" class="mt-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mt-2" style="margin-bottom: 10px;">
                      <input class="form-control" type="text" name="name" required placeholder="Name">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2" style="margin-bottom: 10px;">
                      <input class="form-control" type="email" name="email" required placeholder="Email Address">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2" style="margin-bottom: 10px;">
                      <input class="form-control" type="text" name="phone" required placeholder="Phone">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2" style="margin-bottom: 10px;">
                      <textarea class="form-control" rows="3" name="message" required placeholder="Message"></textarea>
                    </div>
                  </div>
                  <input type="hidden" name="_template" value="table">
                  <input type="hidden" name="_captcha" value="false">
                  <input type="hidden" name="_next" value="http://127.0.0.1:3000/">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-danger-gradiant mt-3 text-white border-0 px-3 py-2"><span> SUBMIT</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card mt-4 border-0 mb-4">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail pl-0">
                    <div class="mr-3 align-self-center">
                      <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png">
                    </div>
                    <div class="" style="margin-left: 9px;">
                      <h6 class="font-weight-medium">Address</h6>
                      <p class="">601 Bangalore.
                        <br> Karnataka </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail">
                    <div class="mr-3 align-self-center">
                      <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                    </div>
                    <div class="" style="margin-left: 9px;">
                      <h6 class="font-weight-medium">Phone</h6>
                      <p class="">+91 8018334479
                        <br> +91 7008398102</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card-body d-flex align-items-center c-detail">
                    <div class="mr-3 align-self-center">
                      <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                    </div>
                    <div class="" style="margin-left: 9px;">
                      <h6 class="font-weight-medium">Email</h6>
                      <p class="">
                        contact@ischool.com
                        <br> soumyaranjanb533@gmail.com
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
