.collection_text {
    text-align: center;
    padding-top: 6px;
    font-size: 38px;
    font-family: fangsong;
    color: #0094a7b3;
    background: #f0efef;
}
text{
    text-align: center;
}
p.title-course {
    text-align: center;
    background: #828c8f7a;

}
